@model GerenciamentoDePedidos.Domain.Models.Produto
<h3>Excluir Produto</h3>
<div>
    <h4>@Model.Nome</h4>
    <dl class="row">
        <dt class="col-sm-2">Preço</dt>
        <dd class="col-sm-10">@Model.Preco.ToString("C")</dd>
        <dt class="col-sm-2">Estoque</dt>
        <dd class="col-sm-10">@Model.Estoque</dd>
    </dl>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Confirmar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>